@font-face {
    font-family: FuturaLight;
    src: url("Fonts/FuturaPTLight.otf");
}
@font-face {
    font-family: FuturaMedium;
    src: url("Fonts/FuturaPTMedium.otf");
}
@font-face {
    font-family: FuturaHeavy;
    src: url("Fonts/FuturaPTHeavy.otf");
}
@font-face {
    font-family: FuturaDemi;
    src: url("Fonts/FuturaPTDemi.otf");
}
@font-face {
    font-family: FuturaBook;
    src: url("Fonts/FuturaPTBook.otf");
}
html {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
body {
    position: absolute;
    top:0;
    margin: 0;
    padding: 0;
    z-index: -2;
    width: 1920px;
    height: 8600px;
    background-color:#0D0D0D;
}
/*navigation menu/start section*/
ul {
    list-style-type: none;
    display: inline;
}
li.nav {
    display: inline;
    color: white;
    margin:auto 15px;
    font-family: FuturaMedium;
    font-size: 1.1em;
}
div.nav {
    z-index: 10;
    top:0;
    background-color: rgba(0,0,0,0.5);
    width: 1920px;
    height: 180px;
    position: fixed;
}
span.nav {
    display: inline;
    margin-left: 200px;
    margin-right: 100px;
    position: relative;
    top: 30px;
}
div.start {
    top:0;
    z-index: 1;
    background-image: url("img/Group 10.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 1170px;
}
div.gr1 {
    position:relative;
    top: 400px;
    left: 300px;
    width: 728px;
    height: 388px;
    background-color: rgba(0,0,0,0.5);
}
p.gr1a {
    top:40px;
    margin-left:40px;
    color: white;
    width: fit-content;
    font-family: FuturaBook;
    font-size: 6em;
    letter-spacing: -3px;
}
p.gr1b {
    margin-top:40px;
    margin-left:40px;
    color:white;
    font-family: FuturaBook;
    font-size: 0.8em;
    width:max-content;
    background-color: #F34213;
    border-color: #F34213;
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
}
.rectmid {
    z-index: -1;
    margin: -90px 40px 0 250px;
    width: 432px;
    height: 53px;
    background-color: #54B3A1;
}
/*intermediate section*/
div.interm {
    z-index: 0;
    background-color: #54B3A1;
    margin: -120px auto 0;
    width: 1920px;
    height: 903px;  
}
p.interm {
    color: white;
    margin: 0 auto;
    top: 500px;
    text-align: center;
    font-size: 3em;
    font-family: FuturaLight;
    width: 50%;
    height: 20%;
}
.recttop {
    z-index: 0;
    width: 30px;
    height: 126px;
    background-color: #54B3A1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -50px;
}
.rectbot {
    z-index: 0;
    width: 30px;
    height: 126px;
    background-color: #54B3A1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: -500px;
}
/*main section*/
div.main {
    width: 1920px;
    height: 5857px;
}
p.prod {
    font-family: FuturaDemi;
    color:white;
}
.sqleft {
    display: inline-block;
    height: 100px;
    width: 50px;
    margin-right: -10px;
    border-style: solid none solid solid;
    border-color: white;
}
.sqright {
    display: inline-block;
    height: 100px;
    width: 50px;
    margin-left: -10px;
    border-style: solid solid solid none;
    border-color: white;
}
div.bot {
    background-color: black;
    z-index: 1;
    width: 1920px;
    height: 397px;
    margin-top: 400px;
}
