@font-face {
    font-family: FuturaLight;
    src: url("Fonts/FuturaPTLight.otf");
}
@font-face {
    font-family: FuturaMedium;
    src: url("Fonts/FuturaPTMedium.otf");
}
@font-face {
    font-family: FuturaHeavy;
    src: url("Fonts/FuturaPTHeavy.otf");
}
@font-face {
    font-family: FuturaDemi;
    src: url("Fonts/FuturaPTDemi.otf");
}
@font-face {
    font-family: FuturaBook;
    src: url("Fonts/FuturaPTBook.otf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    width: 100%;
}
/*AGE VERIFICATION PAGE*/
body.ageverif {
    width: 100%;
    background-color:#0D0D0D;
}
p.welcome {
    display: block;
    margin: 50px auto;
    width: 60%;
    font: normal normal normal 24px/32px FuturaBook;
    color: white;
    text-align: center;
}
p.question {
    margin: 0 auto;
    width: 50%px;
    font: normal normal normal 32px/43px FuturaBook;
    color: white;
    text-align: center;
}
input.date-input {
    position: absolute;
    top: 43px;
    left: 30px;
    width: 128px;
    height: 23px;
    z-index: 3;
    background-color: #54B3A1;
}
div.date-container {
    width: 70%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
div.date {
    position: relative;
    display: inline-block;
    margin: 1%;
    width: 186px;
    height: 94px;
}
p.date-title {
    width: fit-content;
    height: fit-content;
    text-align: left;
    font: normal normal normal 15px/20px FuturaDemi;
    letter-spacing: 1.5px;
    color: white;
}
div.date-border {
    position: absolute;
    top: 24px;
    width: 176px;
    height: 60px;
    z-index: 1;
    border: 2px solid white;
}
div.date-background {
    position: absolute;
    top: 34px;
    left: 10px;
    width: 176px;
    height: 60px;
    z-index: 0;
    background-color: #54B3A1;
}
button.to-homepage {
    margin: 30px auto;
    height: 5%;
    text-align: center;
    font: normal normal normal 15px/20px FuturaDemi;
    letter-spacing: 1.5px;
    color: white;
    background-color: #D94016;
    padding: 10px;
    border: 1px solid #D94016;
    border-radius: 27px;
    cursor: pointer;
}
div.alert {
    width: fit-content;
    padding: 1%;
    margin:0 auto;
    background-color: red;
    color: white;
    display: none;
}  
span.closebtn {
    margin-left: 15px;
    font: normal normal normal 22px/20px FuturaMedium;
    color: white;
    float: right;
    cursor: pointer;
}
div.verif-sites {
    display: block;
    margin: 50px auto 10px;
    height: 34px;
    width: 120px;
}
div.cookies-container {
    display: block;
    width: 60%;
    margin: 0 auto;
    background-color: black;
}
div.cookies-border {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1%;
    padding: 1%;
    width: fit-content;
    border: 2px solid white;
}
p.cookies-text {
    margin: 2%;
    text-align: left;
    font: normal normal normal 15px/20px FuturaBook;
    color: white;
    letter-spacing: 0px;
    width: 67%;
}
button.accept-cookies {

    margin: 0 2%;
    text-align: center;
    font: normal normal normal 13px/17px FuturaMedium;
    letter-spacing: 0px;
    color: white;
    padding: 9px;
    border: 1px solid #54B3A1;
    border-radius: 27px;
    background-color: #54B3A1;
    cursor: pointer;
}
button.accept-cookies:hover {
    background-color: #14A3B1;
}
button.cookie-settings {
    margin: 0 2%;
    text-align: center;
    font: normal normal normal 13px/17px FuturaMedium;
    letter-spacing: 0px;
    color: white;
    padding: 9px;
    border: 1px solid white;
    border-radius: 27px;
    background-color: black;
    cursor: pointer;
}
button.cookie-settings:hover {
    background-color: #333333;
}
/*HOME PAGE*/
body.homepage {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: -2;
    width: 100%;
    background-color:#0D0D0D;
}
/*navigation menu/start section*/
li.navig{
    padding: 0 2%;
    display: inline-block;
    cursor: pointer;
}
a.navig {
    color: white;
    text-align: right;
    font: normal normal normal 17px/22px FuturaMedium;
    letter-spacing: 0px;
    text-decoration: underline 2px rgba(84, 179, 161, 0);
    text-underline-offset: 3px;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}
.navig:hover {
    text-decoration-color: rgba(84, 179, 161, 1);
    text-underline-offset: 6px;
}
nav.nav-container {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
}
ul.nav-transparent {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(#000000CC 0%, #00000000 100%);
    position: relative;
}
ul.nav-solid {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    position: relative;
}
#navbarlogo {
    padding: 5%;
}
div.slider-screen {
    display: flex;
    align-content: center;
    background-image: url("Img/StartPhoto.png");
    background-repeat: no-repeat;
    width: 100%;
}
div.message-container {
    padding: 350px 0;
    margin:0 auto;
    width: fit-content;
    height: fit-content;
}
div.slider-message {
    background-image: linear-gradient(90deg, #000000CC 0%, #00000000 100%);
}
p.slider-message-text {
    padding:2%;
    color: white;
    text-align: left;
    font: normal normal normal 100px/100px FuturaBook;
    letter-spacing: -2px;
}
div.red-button {
    margin: 0 auto;
    width: fit-content;
    padding: 50px;
}
a.red-button {
    color:white;
    text-align: center;
    font: normal normal normal 15px/20px FuturaDemi;
    letter-spacing: 1.5px;
    background-color: #F34213;
    border-color: #F34213;
    border-style: solid;
    text-decoration: none;
    border-width: 15px;
    border-radius: 27px;
    cursor: pointer;
}
div.go-to-container {
    display: flex;
    justify-content: center;
}
.rectmid {
    z-index: -1;
    margin: -10% 0 0 10%;
    width: 432px;
    height: 53px;
    background-color: #54B3A1;
}
/*intermediate section*/
div.interm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    background-color: #54B3A1;
    width: 100%;
}
p.interm {
    color: white;
    padding: 100px 0;
    text-align: center;
    font: normal normal normal 57px/64px FuturaLight;
    letter-spacing: 0px;
    width: 60%;
    height: 20%;
}
div.quote-icon-container {
    display: flex;
    justify-content: center;
}

img.quote-icon {
    cursor: pointer;
    padding: 0 10px;
}
.rectvertical {
    margin: 1% auto;
    z-index: 1;
    width: 30px;
    height: 126px;
    background-color: #54B3A1;
    position: relative;
}

.rectvertical.rtop {
    margin-top: -3%;
}

/*main section*/
div.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
}
div.intro-container {
    width: 65%; 
    text-align: center;
    margin: 100px auto 100px;
}
div.intro-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
img.intro-img {
    margin: 0 auto;
    width: max-content;
    height: max-content;
}
div.intro-text {
    margin: 50px auto;
    width: fit-content;
    padding: 0 30px;
    border: 2px solid white;
}
p.intro-small {
    padding: 20px 30px;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-top: 10px;
    text-align: center;
    font-family: FuturaDemi;
    color:white;
}
p.intro-big1 {
    position: relative;
    width:fit-content;
    margin: -30px auto 0;
    padding: 0 30px;
    font-size: 57px;
    letter-spacing: 0px;
    text-align: center;
    font-family: FuturaDemi;
    color:white;
    background-color: #0D0D0D;
}
p.intro-big2 {
    position: relative;
    width:fit-content;
    margin: 0 auto -30px;
    padding: 0 30px;
    font-size: 57px;
    letter-spacing: 0px;
    text-align: center;
    font-family: FuturaDemi;
    color:white;
    background-color: #0D0D0D;
}
/*products section*/
div.showcase-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
div.showcase {
    position: relative;
    z-index: 1;
    width: 294px;
    height: 180px;
    display: inline-block;
    margin:5px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: center;
    background-size: 100%;
    transition: background-size .3s;
    cursor: pointer;
}
div.showcase:hover {
    background-size: 120%;
}
div.showcase:hover a.showcase{
    color: #54B3A1;
    bottom: 15px;
}
a.showcase {
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 1;
    text-align: left;
    font: normal normal normal 32px/41px FuturaMedium;
    letter-spacing: 0px;
    text-decoration: none;
    color: white;
    transition: bottom .3s;
}
#show1 {
    background-image: linear-gradient(to top, #000000CC 0%, #00000000 100%), url("Img/Baiju.png");
}
#show2 {
    background-image: linear-gradient(to top, #000000CC 0%, #00000000 100%), url("Img/Rum.png");
}
#show3 {
    background-image: linear-gradient(to top, #000000CC 0%, #00000000 100%), url("Img/Whiskey.png");
}
#show4 {
    background-image: linear-gradient(to top, #000000CC 0%, #00000000 100%), url("Img/Gin.png");
}
#show5 {
    background-image: linear-gradient(to top, #000000CC 0%, #00000000 100%), url("Img/Vodka.png");
}
#show6 {
    background-image: linear-gradient(to top, #000000CC 0%, #00000000 100%), url("Img/Liquor.png");
}
#show7 {
    background-image: linear-gradient(to top, #000000CC 0%, #00000000 100%), url("Img/Bitter.png");
}
/*news section*/
div.news-containter {
    width: 65%;
    text-align: center; 
    margin: 100px auto;
}
div.posts-container {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px auto 0;
}
div.post {
    position: relative;
    display: inline-block;
    width: 402px;
    height: 470px;
    margin: 50px 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size .3s;
}
div.post:hover {
    background-size: 120%;
}
div.post:hover div.post-border{
    border-color: #54B3A1;
}
div.post:hover p.divider{
    background-color: #54B3A1;
}
p.post-date {
    position: absolute;
    top: 230px;
    left: 20px;
    width: 342px;
    text-align: left;
    font: normal normal normal 18px/24px FuturaDemi;
    letter-spacing: 0px;
    color: white;
}
div.postbot {
    position: relative;
    margin-left: -10px;
    top: 250px;
    width: 402px;
    height: 217px;
    background-color: white;
}
a.post-title {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 220px;
    text-align: left;
    text-decoration: none;
    font: normal normal normal 24px/24px FuturaDemi;
    letter-spacing: 0px;
    color: black;
}
p.post-text {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 342px;
    text-align: left;
    font: normal normal normal 18px/24px FuturaBook;
    letter-spacing: 0px;
    color: #333333;
}
p.divider {
    position: absolute;
    top: 85px;
    left: 20px;
    background-color: black;
    width: 32px;
    height: 2px;
}
div.post-border {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 382px;
    height: 450px;
    border: 2px solid black;
}
div.post-icon-container {
    margin: 0 0 0 250px;
}
a.post-icon {
    padding: 10px 5px;
    display: inline-block;
    cursor: pointer;
}
/*gallery section*/
div.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
div.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    width: 68%;
}
img.gallery-photo{
    padding: 10px 0;
}
/*shopping? section*/
div.shopping-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
div.shopping-post-container {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
p.shopping-intro {
    margin-top: 50px;
    text-align: center;
    font: normal normal normal 73px/73px FuturaBook;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}
div.shopping-post {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 550px;
    border-left: 2px solid white;
}
img.shopping {
    position: absolute;
    top: 20px;
    left: 20px;
}
p.shopping-post-title {
    display: block;
    position: absolute;
    top: 280px;
    left: 30px;
    width: 294px;
    text-align: left;
    font: normal normal normal 32px/24px FuturaDemi;
    letter-spacing: 0px;
    color: white;
}
p.shopping-post-text {
    display: block;
    position: absolute;
    top: 350px;
    left: 30px;
    width: 315px;
    text-align: left;
    font: normal normal normal 24px/25px FuturaBook;
    letter-spacing: 0px;
    color: #F5F5F5;
}
p.shopping-divider {
    position: absolute;
    top: 322px;
    left: 30px;
    background-color: #54B3A1;
    width: 32px;
    height: 2px;
}
a.shopping-bot {
    position: absolute;
    top:510px;
    left:30px;
    text-align: left;
    font: normal normal normal 18px/24px FuturaMedium;
    letter-spacing: 0px;
    text-decoration: none;
    color: #EAEAEA;
    vertical-align: middle;
    cursor: pointer;
    transition: left .3s;
}
a.shopping-bot:hover {
    color:#54B3A1;
    left: 40px;
}
/*others section*/
div.others-container {
    width: 75%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.others-photo-container {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
p.other-intro {
    margin-top: 50px;
    text-align: center;
    font: normal normal normal 73px/73px FuturaBook;
    letter-spacing: 0px;
    color: white;
}
div.others-photo {
    position: relative;
    display: inline-block;
    margin: 100px 5px 0;
    width: 400px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: center;
    background-size: 100%;
    transition: background-size .3s;
}
div.others-photo:hover {
    background-size: 120%;
}
div.others-photo:hover div.others-border{
    border-color: rgba(84, 179, 161, 1);
}
div.others-photo:hover a.others-text{
    bottom: 30px;
    left: 30px
}
div.others-photo:hover p.cyan-arrow{
    opacity: 100%;
    left:338px;
}
div.others-border {
    margin: 15px;
    width: 370px;
    height: 450px;
    border: 2px solid rgba(84, 179, 161, 0);
    transition: border-color .3s ease-in-out;
}
a.others-text {
    opacity: 100%;
    position: absolute;
    text-align: left;
    font: normal normal normal 20px/20px FuturaDemi;
    letter-spacing: 0px;
    text-decoration: none;
    color: white;
    left: 20px;
    bottom: 20px;
    text-align: left;
    transition: bottom .3s, left .3s;
}
p.cyan-arrow {
    position: absolute;
    z-index: 5;
    width: 22px;
    height: 13px;
    top: 428px;
    left: 318px;
    content: url("Img/CyanArrow.png");
    opacity: 0%;
    transition: opacity .3s ease-in-out, left .3s;
}
/*footer section*/
div.footer-container {
    width: 100%;
    background-color: black;
    z-index: 1;
}
div.footer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#footer-logo {
    padding: 1%;
}
div.footer-text {
    padding: 1%;
    position: relative;
    display: inline-block;
    text-align: left;
}
a.footer-text {
    margin: 10px;
    display: block;
    text-align: left;
    font: normal normal normal 15px/20px FuturaMedium;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
div.footer-icon {
    padding: 1%;
    position: relative;
    display: inline-block;
}
img.footer-icon {
    position: relative;
    cursor: pointer;
}
p.copyright-text {
    background-color: black;
    width: 100%;    
    text-align: center;
    font: normal normal normal 15px/20px FuturaMedium;
    letter-spacing: 0px;
    color: #ABABAB;
    white-space: nowrap;
}